# AWS region where the resources will be deployed
aws_region = "us-east-1"

# CIDR block for Focela Technologies' VPC
cidr_block = "10.0.0.0/16"

# Map of Availability Zones to CIDR blocks for public subnets
public_subnets = {
  "us-east-1a" = "10.0.101.0/24"
  "us-east-1b" = "10.0.102.0/24"
  "us-east-1c" = "10.0.103.0/24"
}

# Map of Availability Zones to CIDR blocks for private subnets
private_subnets = {
  "us-east-1a" = "10.0.1.0/24"
  "us-east-1b" = "10.0.2.0/24"
  "us-east-1c" = "10.0.3.0/24"
}

# List of IP ranges allowed to access internal services
allowed_ip_ranges = ["10.0.0.0/16"]

# Deployment environment (can be dev, staging, or prod)
environment = "prod"
