### IntelliJ IDEA ###
# Covers JetBrains IDEs: IntelliJ, PhpStorm, RubyMine, PyCharm, Android Studio, etc.

# User-specific files
.idea/**/dictionaries
.idea/**/shelf
.idea/**/tasks.xml
.idea/**/workspace.xml
.idea/**/usage.statistics.xml
.idea/**/aws.xml

# Generated & cache files
.idea/**/contentModel.xml
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/dataSources.xml
.idea/**/dataSources/
.idea/**/dbnavigator.xml
.idea/**/dynamic.xml
.idea/**/sqlDataSources.xml
.idea/**/uiDesigner.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/caches/build_file_checksums.ser
.idea/$CACHE_FILE$

# Plugin-specific files
.idea/**/mongoSettings.xml
.idea/**/markdown-navigator*.xml
.idea/**/sonarlint/
.idea/**/sonarIssues.xml
.idea/replstate.xml
.idea/httpRequests
.idea/codestream.xml
.idea/**/azureSettings.xml

# Project-specific files
*.iml
*.ipr
.idea_modules/
.idea/misc.xml
modules.xml

### Build & Output ###
# Gradle
build/
.gradle/

# CMake
cmake-build-*/

### Crashlytics Plugin ###
# Android Studio and IntelliJ
com_crashlytics_export_strings.xml
crashlytics-build.properties
crashlytics.properties
fabric.properties

### macOS System Files ###
# General macOS system files
.DS_Store
.idea
.LSOverride
.AppleDouble
Icon?
._*

# Time Machine and other macOS system files
.com.apple.timemachine.donotpresent
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Remote AFP share files
.apdisk
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items

### SSL Directories ###
.well-known

### Environment Files ###
.env

### Additional Ignore for Sensitive Files ###
logs/
*.log
*.key
*.crt
tmp/
*.tmp
*.bak

### Terraform Files ###
*.tfstate
*.tfstate.backup
.terraform/
