# AWS region where resources will be deployed
aws_region = "ap-northeast-1"

# List of private subnet IDs for the EKS cluster
# Replace with your own private subnet IDs
subnet_ids = ["subnet-private-xxxxxx", "subnet-private-yyyyyy"]

# Name of the EKS Cluster
cluster_name = "focela-eks-cluster"

# EC2 instance type for the worker nodes
instance_type = "t3.medium"

# Desired number of worker nodes
desired_capacity = 2

# Maximum number of worker nodes
max_capacity = 3

# Minimum number of worker nodes
min_capacity = 1
