# PostgreSQL Database Configuration
DB_USER=gitlab
DB_PASS=password
DB_NAME=gitlabhq_production

DB_EXTENSION=pg_trgm,btree_gist

POSTGRES_INITDB_ARGS=--data-checksums

POSTGRES_HOST_AUTH_METHOD=trust
