# Values for the VPC name, CIDR block, and subnets configuration

# Name of the VPC
vpc_name = "focela-main-vpc"

# CIDR block for the VPC
vpc_cidr = "10.0.0.0/16"

# AWS region where the VPC will be created
region = "us-east-1"

# Availability Zones in US East (N. Virginia)
azs = ["us-east-1a", "us-east-1b"]

# Public subnet CIDR blocks
public_subnets = ["10.0.1.0/24", "10.0.2.0/24"]

# Private subnet CIDR blocks
private_subnets = ["10.0.3.0/24", "10.0.4.0/24"]
